<div class="chef-item {{if cook.isCookingToday '' 'cook-not-available'}}">
  <div {{action 'toggleOpen'}} class="title-bar">{{cook.name}} <span class="pull-right">{{if isOpen 'V' '>'}}</span></div>
  {{#if isOpen}}
    {{icon-image cook.imageUrl left=true}}
    <div class="description">{{cook.description}}</div>
    {{#link-to 'chefs.chef' cook.id}}<button>Show page</button>{{/link-to}}
    {{#link-to 'chefs.chef.edit' cook.id}}<button>Edit page</button>{{/link-to}}
    <button {{action 'toggleEnterExit' cook}}>
      {{if cook.isCookingToday 'Exit' 'Enter'}}
    </button>
    <p>
      Number of students:
      <button {{action "modifyStudentCount" cook "subtract"}}>-</button>
      {{cook.numOfStudents}}
      <button {{action "modifyStudentCount" cook "add"}}>+</button>
    </p>
  {{/if}}
</div>
