<h1>Chef Tracker</h1>
<p>{{availableChefs.length}} of our {{chefLength}} chefs are cooking right now!</p>
<ul>
  {{#each model as |cook|}}
    {{#if cook.isCookingToday}}
      <li class="cook-available">
        {{cook.name}}
        <button {{action "toggleEnterExit" cook}}>Exit</button>
      </li>
    {{else}}
      <li class="cook-not-available">
        {{cook.name}}
        <button {{action "toggleEnterExit" cook}}>Enter</button>
        <button {{action "fireChef" cook}}>Fire This Chef</button>
      </li>
    {{/if}}
  {{/each}}
</ul>
<hr/>
{{input value=newChef}}
<button {{action 'saveNewChef'}}>Save</button>
{{outlet}}
