<h1>Chef Tracker</h1>
<ul>
  {{#each cooks as |cook|}}
    {{#if cook.isCookingToday}}
      <li class="cook-available">
        {{cook.name}}
        <button {{action "toggleEnterExit" cook}}>Exit</button>
      </li>
    {{else}}
      <li class="cook-not-available">
        {{cook.name}}
        <button {{action "toggleEnterExit" cook}}>Enter</button>
      </li>
    {{/if}}
  {{/each}}
</ul>
{{outlet}}
