<div class="flex-container">
  <div class="flex-item">
    <h1>Chef Tracker</h1>
    <p>{{availableChefs.length}} of our {{chefLength}} chefs are cooking right now!</p>
    <p>Our {{chefLength}} chefs teach {{totalStudents}} students.</p>
    <ul>
      {{#each model as |cook|}}
        <li class="{{if cook.isCookingToday '' 'cook-not-available'}}">
          {{#link-to 'chefs.chef' cook.id}}{{cook.name}}{{/link-to}}
          {{#if cook.isCookingToday}}
              <button {{action "toggleEnterExit" cook}}>Exit</button>
          {{else}}
              <button {{action "toggleEnterExit" cook}}>Enter</button>
          {{/if}}
        </li>
        Number of students:
        <button {{action "modifyStudentCount" cook "subtract"}}>-</button>
        {{cook.numOfStudents}}
        <button {{action "modifyStudentCount" cook "add"}}>+</button>
      {{/each}}
    </ul>
    <hr/>
    {{input value=newChef}}
    <button {{action 'saveNewChef'}}>Save</button>
  </div>
  <div class="flex-item">
    {{outlet}}
  </div>
</div>
