<div class="flex-container">
  <div class="flex-item">
    <h1>Chef Tracker</h1>
    <p>{{availableChefs.length}} of our {{chefLength}} chefs are cooking right now!</p>
    <p>Our {{chefLength}} chefs teach {{totalStudents}} students.</p>
    {{#each model as |cook|}}
      {{#collapsible-component as |isOpen component|}}
        <div class="chef-item {{if cook.isCookingToday '' 'cook-not-available'}}">
          <div {{action 'toggleOpen' target=component}} class="title-bar">{{cook.name}} <span class="pull-right">{{if isOpen 'V' '>'}}</span></div>
          {{#if isOpen}}
            {{icon-image cook.imageUrl left=true}}
            <div class="description">{{cook.description}}</div>
            {{#link-to 'chefs.chef' cook.id}}<button>Show page</button>{{/link-to}}
            {{#link-to 'chefs.chef.edit' cook.id}}<button>Edit page</button>{{/link-to}}
            <button {{action 'toggleEnterExit' cook}}>
              {{if cook.isCookingToday 'Exit' 'Enter'}}
            </button>
            <p>
              Number of students:
              <button {{action "modifyStudentCount" cook "subtract"}}>-</button>
              {{cook.numOfStudents}}
              <button {{action "modifyStudentCount" cook "add"}}>+</button>
            </p>
          {{/if}}
        </div>
      {{/collapsible-component}}
    {{/each}}
    <hr/>
    {{input value=newChef}}
    <button {{action 'saveNewChef'}}>Save</button>
  </div>
  <div class="flex-item">
    {{outlet}}
  </div>
</div>
