<div class="flex-container">
  <div class="flex-item">
    <h1>Chef Tracker</h1>
    <p>{{availableChefs.length}} of our {{chefLength}} chefs are cooking right now!</p>
    <p>Our {{chefLength}} chefs teach {{totalStudents}} students.</p>
    <ul>
      {{#each model as |cook|}}
        {{#if cook.isCookingToday}}
          <li class="cook-available">
            {{#link-to 'chefs.chef' cook.id}}{{cook.name}}{{/link-to}}
            <button {{action "toggleEnterExit" cook}}>Exit</button>
          </li>
        {{else}}
          <li class="cook-not-available">
            {{cook.name}}
            <button {{action "toggleEnterExit" cook}}>Enter</button>
            <button {{action "fireChef" cook}}>Fire</button>
          </li>
        {{/if}}
        Number of students:
        <button {{action "modifyStudentCount" cook "subtract"}}>-</button>
        {{cook.numOfStudents}}
        <button {{action "modifyStudentCount" cook "add"}}>+</button>
      {{/each}}
    </ul>
    <hr/>
    {{input value=newChef}}
    <button {{action 'saveNewChef'}}>Save</button>
  </div>
  <div class="flex-item">
    {{outlet}}
  </div>
</div>
